<?xml version="1.0" encoding="windows-1252" ?>
<!DOCTYPE Entity SYSTEM "jbo_03_01.dtd">
<!---->
<Entity
  xmlns="http://xmlns.oracle.com/bc4j"
  Name="Menu"
  Version="11.1.1.61.92"
  InheritPersonalization="true"
  DBObjectType="table"
  DBObjectName="MENU"
  AliasName="Menu"
  BindingStyle="OracleName"
  UseGlueCode="false">
  <DesignTime>
    <Attr Name="_codeGenFlag2" Value="Access"/>
    <AttrArray Name="_publishEvents"/>
  </DesignTime>
  <Attribute
    Name="Id"
    Precision="10"
    ColumnName="ID"
    SQLType="NUMERIC"
    Type="oracle.jbo.domain.DBSequence"
    ColumnType="ID_TYPE"
    TableName="MENU"
    PrimaryKey="true">
    <DesignTime>
      <Attr Name="_DisplaySize" Value="22"/>
    </DesignTime>
  </Attribute>
  <Attribute
    Name="Name"
    IsNotNull="true"
    Precision="30"
    ColumnName="NAME"
    SQLType="VARCHAR"
    Type="java.lang.String"
    ColumnType="VARCHAR2"
    TableName="MENU">
    <DesignTime>
      <Attr Name="_DisplaySize" Value="30"/>
    </DesignTime>
  </Attribute>
  <Attribute
    Name="DisplaySequence"
    Precision="10"
    ColumnName="DISPLAY_SEQUENCE"
    SQLType="NUMERIC"
    Type="oracle.jbo.domain.Number"
    ColumnType="DISPLAYSEQUENCE_TYPE"
    TableName="MENU">
    <DesignTime>
      <Attr Name="_DisplaySize" Value="22"/>
    </DesignTime>
  </Attribute>
  <Attribute
    Name="Shortcut"
    Precision="30"
    ColumnName="SHORTCUT"
    SQLType="VARCHAR"
    Type="java.lang.String"
    ColumnType="VARCHAR2"
    TableName="MENU">
    <DesignTime>
      <Attr Name="_DisplaySize" Value="30"/>
    </DesignTime>
  </Attribute>
  <Attribute
    Name="Icon"
    Precision="60"
    ColumnName="ICON"
    SQLType="VARCHAR"
    Type="java.lang.String"
    ColumnType="VARCHAR2"
    TableName="MENU">
    <DesignTime>
      <Attr Name="_DisplaySize" Value="60"/>
    </DesignTime>
  </Attribute>
  <Attribute
    Name="Label"
    Precision="30"
    ColumnName="LABEL"
    SQLType="VARCHAR"
    Type="java.lang.String"
    ColumnType="VARCHAR2"
    TableName="MENU">
    <DesignTime>
      <Attr Name="_DisplaySize" Value="30"/>
    </DesignTime>
  </Attribute>
  <AccessorAttribute
    Name="MenuItems"
    Association="app.mkp.model.entity.menubar.MitMenFkAssoc"
    AssociationEnd="app.mkp.model.entity.menubar.MitMenFkAssoc.MenuItems"
    AssociationOtherEnd="app.mkp.model.entity.menubar.MitMenFkAssoc.Menu"
    Type="oracle.jbo.RowIterator"
    IsUpdateable="false"/>
  <Key
    Name="MenPk"
    PrimaryKey="true">
    <DesignTime>
      <Attr Name="_DBObjectName" Value="MEN_PK"/>
    </DesignTime>
    <AttrArray Name="Attributes">
      <Item Value="app.mkp.model.entity.menubar.Menu.Id"/>
    </AttrArray>
  </Key>
  <Key
    Name="SysC0013467">
    <DesignTime>
      <Attr Name="_DBObjectName" Value="SYS_C0013467"/>
      <Attr Name="_checkCondition" Value='"ID" IS NOT NULL'/>
      <Attr Name="_isCheck" Value="true"/>
    </DesignTime>
    <AttrArray Name="Attributes">
      <Item Value="app.mkp.model.entity.menubar.Menu.Id"/>
    </AttrArray>
  </Key>
  <Key
    Name="SysC0013468">
    <DesignTime>
      <Attr Name="_DBObjectName" Value="SYS_C0013468"/>
      <Attr Name="_checkCondition" Value='"NAME" IS NOT NULL'/>
      <Attr Name="_isCheck" Value="true"/>
    </DesignTime>
    <AttrArray Name="Attributes">
      <Item Value="app.mkp.model.entity.menubar.Menu.Name"/>
    </AttrArray>
  </Key>
</Entity>
